<html lang="en">

<head>
  <title>Book Catalog</title>
  <link rel="stylesheet" type="text/css" href="/css/BookCatalog.css">
  <link rel="icon" href="/resources/Favicon/open-book.png" type="image/png">

</head>

<body>
  <header>
    <nav>
      <ul>
        <% if (user.role==='admin') { %>
        <li><a href="/requests">View Requests</a></li>
        <li><a href="/add_book">Add New Book</a></li>
        <% } else{%>
        <li><button onclick="reqAdmin('<%=user.username%>')">GetAdminPrivs</button></li>
        <% } %>
        <li><a href='/logout'>Logout</a></li>
        <li><a href="/history">Borrowing History</a></li>
        <li><a href="/messages" id="messages">Messages</a></li>
        <li>
          <form action="/books/search" method="post" id="search-bar">
            <input type="text" name="query" placeholder="Search for books">
            <button type="submit">Search</button>
          </form>
        </li>
        <li>
          <form action="/books" method="post" id="filter">
            <label>Filter by:</label>
            <select name="genre" id="genre-select">
              <option value="">All Genres</option>
              <% genres.forEach(function(genre) { %>
              <option value="<%= genre %>">
                <%= genre %>
              </option>
              <% }); %>
            </select>
            <select name="author" id="author-select">
              <option value="">All Authors</option>
              <% authors.forEach(function(author) { %>
              <option value="<%= author %>">
                <%= author %>
              </option>
              <% }); %>
            </select>
            <button type="submit">Filter</button>
          </form>

        </li>
      </ul>
    </nav>
  </header>
  <% if(n_messages>0){ %>
  <script>
    var n_messages = <%= n_messages %>;
    alert('You have ' + String(n_messages) + ' new messages');
    var messagelink = document.getElementById('messages');
    messagelink.style.color = 'red';
  </script>
  <% } %>
  <h1>Book Catalog</h1>
  <div id="books">
    <% books.forEach(function(book) { %>
    <div class="book">
      <h2>
        <%= book.title %>
      </h2>
      <p>Author: <%= book.author %>
      </p>
      <p>Genre: <%= book.genre %>
      </p>
      <% if (book.status==='available') { %>
      <p>Available</p>
      <% } else{%>
      <p>Unavailable</p>
      <% } %>
      <button onclick=" viewBookDetails('<%= book.id %>')">View Details</button>
    </div>
    <% }); %>
  </div>
</body>
<script src="/js/BookCatalog.js"></script>

</html>