<html lang="en">

<head>
  <title>Book Details</title>
  <link rel="stylesheet" type="text/css" href="/css/BookDetails.css">
  <link rel="icon" href="/resources/Favicons/book.png" type="image/png">
</head>

<body>
  <h1>
    <%= book.title %>
  </h1>
  <p>Author: <%= book.author %>
  </p>
  <p>Genre: <%= book.genre %>
  </p>
  <p>Quantity Available:<%=book.quantity%></p>
  <% if(user.role==='user') {%>
  <% if(book.user_status!=='requested'){ %>
  <% if (book.status==='available'&&!isBorrower) { %>
  <form action="/checkout" method="POST">
    <input type="type" name="bookId" value="<%=book.id%>" hidden readonly>
    <input type="type" name="title" value="<%=book.title%>" hidden readonly>
    <input type="type" name="username" value="<%=user.username%>" hidden readonly>
    <button type="submit">Checkout</button>
  </form>
  <% } else { %>
  <% if (isBorrower) { %>
  <form action="/checkin" method="POST">
    <input type="type" name="bookId" value="<%=book.id%>" hidden readonly>
    <input type="type" name="title" value="<%=book.title%>" hidden readonly>
    <input type="type" name="username" value="<%=user.username%>" hidden readonly>
    <button type="submit">Checkin</button>
  </form>
  <% }%>
  <% } %>
  <% } %>
  <% } %>
  <button onclick="window.location.href='/books'">Back to Catalog</button>

  <h2>Borrowing History</h2>
  <div id="history">
    <% history.forEach(function(history) { %>
    <div>
      <p>Borrowed by <%= history.borrower %>
      </p>
      <p>Borrowed on <%= history.borrowed_date %></p>
      <% if (history.returned_date) { %>
      <p>Returned on <%= history.returned_date %>
      </p>
      <% } %>
    </div>
    <% }); %>
  </div>
</body>

</html