<!-- Book Details -->
<h1>
  <%= book.title %>
</h1>
<p>Author: <%= book.author %>
</p>
<p>Genre: <%= book.genre %>
</p>
<!--<% /* %> <p>Summary: <%= book.summary %>
</p> -->
<!-- <p>Pages: <%= book.pages %>
</p>
<p>Publisher: <%= book.publisher %>
</p>
<p>Published: <%= book.published %>
  <% */ %>
</p> -->


<% if (book.status==='available') { %>
<button onclick="checkoutBook('<%= book.id %>','<%=book.title%>')">Checkout</button>
<% } else { %>
<% if (book.borrower === user.username) { %>
<button onclick="checkinBook('<%= book.id %>','<%=book.title%>')">Checkin</button>
<% } else if(book.status==='checkedout'){ %>
<p>Borrowed by <%= book.borrower %>
</p>
<% }%>
<% } %>


<h2>Borrowing History</h2>
<ul>
  <% history.forEach(function(history) { %>
  <li>
    <p>Borrowed by <%= history.borrower %>
    </p>
    <p>Borrowed on <%= history.borrowed_date %></p>
    <% if (history.returned_date) { %>
    <p>Returned on <%= history.returned_date %>
    </p>
    <% } %>
  </li>
  <% }); %>
</ul>


<script>
  function checkoutBook(bookId, title) {
    let date = new Date();
    fetch('/checkout', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        bookId: bookId,
        borrower: '<%=user.username%>',
        title: title,
        date: date.toISOString().slice(0, 19).replace('T', ' ')
      })
    })

    window.location.href = `/books`;
  }

  function checkinBook(bookId, title) {
    let date = new Date();
    fetch('/checkin', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        bookId: bookId,
        borrower: '<%= user.username %>',
        title: title,
        date: date.toISOString().slice(0, 19).replace('T', ' ')
      })
    })

    window.location.href = `/books`;
  }
</script>